/* @group buttons */

.mobileButtons {
  position: absolute;
  background-color: #AAAAAA;
  top: 0;
  right: 0;
  display: none;
}
.mobileButtons a {
  width: 24px;
  height: 24px;
  padding: 16px;
  display: block;
  background: url(++resource++ftw.mobilenavigation/mobile_buttons.png) no-repeat center center #aaa;
  float: right;
}
.mobileButtons a.selected {
  background-color: #000000;
}
.mobileButtons #toggle_navigation {
  background-position: 16px 16px;
}
.mobileButtons #toggle_usermenu { background-position: 16px -56px; }
.mobileButtons #toggle_search { background-position: 16px -128px; }

/* @end group */

/* @group mobile navigation */

#portal-globalnav.mobileNavigation {
  position:absolute;
  top: 0;
  margin-top: 56px;
  width: 100%;
  display: none;
}

#portal-globalnav.mobileNavigation li {
  display: block;
  position: relative;
}
#portal-globalnav.mobileNavigation li a {
  display: block;
  padding: 1em;
  border: none;
  border-top: 1px solid #000;
  margin-right: 42px;
  overflow: hidden;
}
#portal-globalnav.mobileNavigation li.noChildren a,
#portal-globalnav.mobileNavigation li a.loadChildren {
  margin-right: 0;
}
#portal-globalnav.mobileNavigation li a.loadChildren {
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  min-width: 16px;
  height: 16px;
}
#portal-globalnav.mobileNavigation li a.loadChildren,
#portal-globalnav.mobileNavigation li a.loadChildren:hover {
  background: url(++resource++ftw.mobilenavigation/expand-navi.png) no-repeat center center;
}
#portal-globalnav.mobileNavigation li.expanded > a.loadChildren {
  background: url(++resource++ftw.mobilenavigation/collapse-navi.png) no-repeat center center;
}
#portal-globalnav.mobileNavigation li.loading > a.loadChildren {
  background: url(++resource++ftw.mobilenavigation/spinner.gif) no-repeat center center;
}
#portal-globalnav.mobileNavigation li > ul {
  display: none;
}
#portal-globalnav.mobileNavigation li.expanded > ul {
  display: block;
}
#portal-globalnav.mobileNavigation li.level1 a {
  margin-left: 1.5em;
}
#portal-globalnav.mobileNavigation li.level2 a {
  margin-left: 3em;
}
#portal-globalnav.mobileNavigation li a.loadChildren:hover {
  background-color: #DDDDDD;
}

/* Overwrite default selected styling in globalnav */
#portal-globalnav.mobileNavigation .selected a,
#portal-globalnav.mobileNavigation a:hover {
  background: #DDDDDD;
  color: #205C90;
}
#portal-globalnav.mobileNavigation .selected > a,
#portal-globalnav.mobileNavigation > a:hover {
  background: #205C90;
  color: #FFFFFF;
}

/* @end */

/* @group responsive */

@media screen and (max-width: 767px) {
  .mobileButtons {
    display: block;
    z-index: 4;
  }
  #portal-globalnav,
  #portal-personaltools dt.actionMenuHeader,
  #portal-searchbox {
    display: none;
  }

  #portal-personaltools {
    position: absolute;
    margin-top: 52px;
    background-color: transparent;
  }
  #portal-searchbox {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 54px;
    background: #EEE;
    z-index: 3;
    padding: 1em;
  }
}
@media screen and (min-width: 767px) {
  /* fix navi (ugly) */
  #portal-globalnav {
    display: block !important;
  }
  #portal-globalnav > li > ul,
  #portal-globalnav .loadChildren {
    display: none !important;
  }
}

/* @end */