.mobileButtons {
  @include list-horizontal();
  @include cell();
  @include gridposition(0);
  @include gridwidth(16);
  @include screen-small() {
    display: none;
  }

  clear: both;

  > li > a {
    @extend .fa-icon;
    @include auto-text-color($color-primary);
  }
}

#portal-personaltools .actionMenuContent {
  top: $line-height-base + 2 * $padding-vertical;
}

#portal-personaltools .actionMenuHeader {
  @include screen-small() {
    display: block;
  }

  display: none;
}

#toggle_search {
  @extend .fa-search;
}

#toggle_usermenu {
  @extend .fa-user;
}

#toggle_navigation {
  @extend .fa-navicon;
}

#portal-globalnav.mobileNavigation {
  @include screen-small() {
    display: block;
  }

  display: none;

  > li {
    display: block;
    float: none;
    > a {
      padding-right: 40px;
    }
  }

  li {
    position: relative;
  }

  a {
    @include no-link();
  }

  ul {
    @include list();
    display: none;
    > li {
      display: block;
      float: none;
      > a {
        padding-right: 40px;
      }
    }
  }

  a {
    border: 0;
  }

  .expanded {
    > ul {
      display: block;
    }
    > .loadChildren {
      @extend .fa-angle-down;
    }
  }

  .loadChildren {
    @extend .fa-icon;
    @extend .fa-angle-right;
    margin-right: 0;
    width: $line-height-base;
    position: absolute;
    top: 0;
    right: 0;
  }

  @for $i from 1 through 10 {
    .level#{$i} { padding-left: $i * $padding-horizontal; }
  }

}

.navigation {
  @include screen-small() {
    position: static;
  }

  z-index: 2;
  position: absolute;
  top: $line-height-base + 2 * $padding-vertical;
  left: 0;
  right: 0;
  background-color: $color-content-background;
}

#portal-searchbox {
  @include screen-small() {
    display: block;
  }

  display: none;
}
